<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Calculator</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .calculator-container {
            width: 300px; /* Adjust the width as needed */
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        form {
            text-align: center;
        }

        button {
            width: 50px;
            height: 50px;
            font-size: 18px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="calculator-container">
        <h1>Mini Calculator</h1>
        <p>Prepared A Mini Calculator Application. The Calculator Supports Basic Arithmetic Operations Such As Addition, Subtraction, Multiplication, And Division Which Gives Simple Calculation.Made Using HTML, CSS And JavaScript For Dynamic Functionality.</p>

    <form method="post" action="{% url 'calculator' %}">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="button" onclick="document.forms[0].expression.value += '7'">7</button>
        <button type="button" onclick="document.forms[0].expression.value += '8'">8</button>
        <button type="button" onclick="document.forms[0].expression.value += '9'">9</button>
        <button type="button" onclick="document.forms[0].expression.value += '/'">/</button>
        <br>
        <button type="button" onclick="document.forms[0].expression.value += '4'">4</button>
        <button type="button" onclick="document.forms[0].expression.value += '5'">5</button>
        <button type="button" onclick="document.forms[0].expression.value += '6'">6</button>
        <button type="button" onclick="document.forms[0].expression.value += '*'">*</button>
        <br>
        <button type="button" onclick="document.forms[0].expression.value += '1'">1</button>
        <button type="button" onclick="document.forms[0].expression.value += '2'">2</button>
        <button type="button" onclick="document.forms[0].expression.value += '3'">3</button>
        <button type="button" onclick="document.forms[0].expression.value += '-'">-</button>
        <br>
        <button type="button" onclick="document.forms[0].expression.value += '0'">0</button>
        <button type="button" onclick="document.forms[0].expression.value += '.'">.</button>
        <button type="button" onclick="document.forms[0].expression.value = ''">C</button>
        <button type="button" onclick="document.forms[0].expression.value += '+'">+</button>
        <br>
        <button type="submit">=</button>
    </form>
</body>
</html>